@model UserAvailabilityViewModel
@inject IViewLocalizer Localizer
@{
    ViewData["Title"] = Localizer["Availability"];
}

<h4>@ViewData["Title"]</h4>
<div class="row mb-2">
    <div class="col-4">
        <p class="mb-0 font-weight-bold">@Localizer["Day"]</p>
    </div>
    <div class="col-3">
        <p class="mb-0 font-weight-bold">@Localizer["Start Time"]</p>
    </div>
    <div class="col-3">
        <p class="mb-0 font-weight-bold">@Localizer["End Time"]</p>
    </div>
</div>
@foreach (DayOfWeek weekday in UserAvailabilityViewModel.DaysOfWeek)
{
    <div class="row">
        <div class="col-4">
            <p>@Localizer[@weekday.ToString()]</p>
        </div>
        <div class="col-3">
            <input asp-for="Availability.StartTime" type="time" onchange="checkTimes(this)" value="@Model.Schedule.Where(model => model.Day == weekday)?.FirstOrDefault()?.StartTime"/>
        </div>
        <div class="col-3">
            <input asp-for="Availability.EndTime" type="time" onchange="checkTimes(this)" value="@Model.Schedule.Where(model => model.Day == weekday)?.FirstOrDefault()?.EndTime"/>
        </div>
        <div class="col-2">
            <form method="POST" asp-action="Edit" class="d-inline-block">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input asp-for="Availability.Day" value="@weekday" class="d-none"/>
                <input asp-for="Availability.StartTime" type="time" class="d-none"/>
                <input asp-for="Availability.EndTime" type="time" class="d-none"/>
                <button type="submit" class="btn btn-link text-success d-none p-0">
                    <i class="fa fa-save"></i>
                </button>
            </form>
            @if (Model.Schedule.Any(model => model.Day == @weekday))
            {
                <a class="text-danger" asp-action="Delete" asp-route-day="@weekday">
                    <i class="fa fa-trash"></i>
                </a>            }
        </div>
    </div>
}

@section Scripts {
    <partial name="_ValidationScriptsPartial"/>
}

<script>
    function checkTimes(el) {
        const form = el.parentElement.parentElement.lastElementChild.firstElementChild;
        let startEl;
        let endEl;

        if (el.getAttribute("name") == "Availability.StartTime") {
            startEl = el;
            endEl = el.parentElement.nextElementSibling.firstElementChild;
        } else {
            startEl = el.parentElement.previousElementSibling.firstElementChild;
            endEl = el;
        }

        if (startEl.value >= endEl.value || startEl.value == '' || endEl.value == '') {
            if (!form.lastElementChild.previousElementSibling.classList.contains("d-none")) {
                form.lastElementChild.previousElementSibling.classList.add("d-none");
            }
        } else {
            form.children[1].value = startEl.value;
            form.children[2].value = endEl.value;

            if (form.lastElementChild.previousElementSibling.classList.contains("d-none")) {
                form.lastElementChild.previousElementSibling.classList.remove("d-none");
            }
        }
    }
</script>