@using Bumbo.Data.Models.Enums
@model Bumbo.Web.Models.Furlough.ManagerFurloughViewModel
@inject IViewLocalizer Localizer

@{ ViewData["Title"] = Localizer["Furlough"]; }

<h4>@ViewData["Title"]</h4>
<div class="row mb-2">
    @if (Model.UserFurloughs.Count == 0)
    {
        <div class="ml-3">
            <p class="my-1 font-weight-bold"><i class="alert-info"></i>@Localizer["NoRequests"]</p>
        </div> 
    }
    else
    {
    @foreach (var user in Model.UserFurloughs)
    {
        <div class="list-group-item w-75 ml-3 mb-1"> 
            <div>
                <h5 class="mb-1">
                    @Html.DisplayFor(model => user.Key.Name)
                </h5>
            </div>

            @foreach(var furlough in user.Value)
            {
                <div>
                    <h5 class="mb-1">
                        @Html.DisplayFor(model => furlough.Description)
                    </h5>
                </div>

                <small>
                @if (furlough.StartDate.Date == furlough.EndDate.Date)
                {
                    @if (furlough.IsAllDay)
                    {
                    @furlough.StartDate.ToString("ddd d MMM yyyy") }

                    else
                    {
                        @furlough.StartDate.ToString("ddd d MMM yyyy | hh:mm")
                    }
                }
                else
                {
                    @if (furlough.IsAllDay)
                    {
                    @furlough.StartDate.ToString("ddd d MMM yyyy - ") @furlough.EndDate.ToString("ddd d MMM yyyy") }

                    else
                    {
                        @furlough.StartDate.ToString("ddd d MMM yyyy | hh:mm - ") @furlough.EndDate.ToString("ddd d MMM yyyy | hh:mm")
                    }
                }
            </small>
            }
        </div>
        }
    }
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}


