@model UserAdditionalWorkViewModel
@{
    ViewData["Title"] = "School timetable";
}

<h4>@ViewData["Title"]</h4>
<div class="row mb-3">
    <div class="col">
        <button class="btn btn-primary" data-toggle="modal" data-target="#schoolModal">
            <i class="fa fa-edit"></i>
            <span>Edit</span>
        </button>
    </div>
</div>
@if (Model.Schedule == null)
{
    <div class="row">
        <div class="col-md-6">
            You did not sumbit a school timetable yet..
        </div>
    </div>
}
else
{
    foreach (UserAdditionalWork additionalWork in Model.Schedule)
    {
        <div class="row">
            <div class="col-4">
                <p>@additionalWork.Day</p>
            </div>
            <div class="col-3">
                <p>@additionalWork.StartTime</p>
            </div>
            <div class="col-3">
                <p>@additionalWork.EndTime</p>
            </div>
            <div class="col-2">
                <a class="text-danger" asp-action="Delete" asp-route-day="@additionalWork.Day"><i class="fa fa-trash"></i></a>
            </div>
        </div>
    }
}


<partial name="_SchoolModal" model="Model.Work"/>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}

