@model UserAdditionalWorkViewModel
@{
    ViewData["Title"] = "School timetable";
}

<h4>@ViewData["Title"]</h4>
@if (Model.Schedule == null)
{
    <div class="row">
        <div class="col-md-6">
            You did not submit a school timetable yet..
        </div>
    </div>
}
else
{
    <div class="row mb-2">
        <div class="col-4">
            <p class="mb-0 font-weight-bold">Day</p>
        </div>
        <div class="col-3">
            <p class="mb-0 font-weight-bold">Start time</p>
        </div>
        <div class="col-3">
            <p class="mb-0 font-weight-bold">End time</p>
        </div>
    </div>
    foreach (DayOfWeek weekday in UserAdditionalWorkViewModel.InputAdditionalWork.DaysOfWeek)
    {
        <div class="row">
            <div class="col-4">
                <p>@weekday</p>
            </div>
            <div class="col-3">
                <input asp-for="Work.StartTime" type="time" value="@Model.Schedule.Where(model => model.Day == weekday)?.FirstOrDefault()?.StartTime" />
            </div>
            <div class="col-3">
                <input asp-for="Work.EndTime" type="time" value="@Model.Schedule.Where(model => model.Day == weekday)?.FirstOrDefault()?.EndTime" />
            </div>
            <div class="col-2">
                @if (Model.Schedule.Where(model => model.Day == weekday)?.FirstOrDefault() != null)
                {
                    <a class="text-danger" asp-action="Delete" asp-route-day="@weekday"><i class="fa fa-trash"></i></a>
                }
            </div>
        </div>
    }
}

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}

