@using Bumbo.Data
@using Bumbo.Logic.Options
@using Bumbo.Logic.Utils
@using Microsoft.AspNetCore.Identity
@using Microsoft.AspNetCore.Routing
@using Microsoft.AspNetCore.Authorization

@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager
@inject IOptions<BumboOptions> BumboOptions
@inject IViewLocalizer Localizer
@inject IAuthorizationService AuthorizationService
@inject RepositoryWrapper Wrapper

@{
    bool hasCurrentBranch = int.TryParse(Context.GetRouteValue("branchId")?.ToString(), out var currentBranchId);
}

<nav class="sidebar d-print-none">
    <div class="p-3 h-100">
        <div class="sidebar-header">
            <img src="/img/jumbo.png" width="100%" alt="Bumbo" />
        </div>

        <ul class="list-unstyled components">
            <li class="@Html.IsActive("Home", "Index")">
                <a asp-controller="Home" asp-action="Index">
                    <i class="fa fa-home mr-3"></i>
                    @Localizer["Home"]
                </a>
            </li>

            @if (SignInManager.IsSignedIn(User))
            {
                <li class="@Html.IsActive("Availability", "Index")">
                    <a asp-controller="Availability" asp-action="Index">
                        <i class="fa fa-calendar mr-3"></i>
                        @Localizer["Availability"]
                    </a>
                </li>
                @if ((await AuthorizationService.AuthorizeAsync(User, "YoungerThan18")).Succeeded)
                {
                    <li class="@Html.IsActive("AdditionalWork", "Index")">
                        <a asp-controller="Availability" asp-action="Index">
                            <i class="fa fa-calendar mr-3"></i>
                            @Localizer["School schedule"]
                        </a>
                    </li>
                }
                @if (hasCurrentBranch)
                {
                    var branch = await Wrapper.Branch.Get(branch1 => branch1.Id == currentBranchId);

                    <li class="active">
                        <a href="#branchSubmenu" data-toggle="collapse" class="dropdown-toggle">
                            <i class="fa fa-building-o mr-3"></i>
                            @branch.Name
                        </a>
                        <ul class="collapse list-unstyled show" id="branchSubmenu">
                            <li class="@Html.IsActive("Branches", "Details")">
                                <a asp-controller="Branches" asp-action="Details" asp-route-branchId="@branch.Id">
                                    <i class="fa fa-building-o mr-3"></i>
                                    @Localizer["Details"]
                                </a>
                            </li>
                            <li class="@Html.IsActive("Schedule", "Week")">
                                <a asp-controller="Schedule" asp-action="Week" asp-route-branchId="@branch.Id">
                                    <i class="fa fa-calendar mr-3"></i>
                                    @Localizer["Schedule"]
                                </a>
                            </li>
                            <li class="@Html.IsActive("Schedule", "Personal")">
                                <a asp-controller="Schedule" asp-action="Personal" asp-route-branchId="@branch.Id">
                                    <i class="fa fa-calendar mr-3"></i>
                                    @Localizer["Personal"]
                                </a>
                            </li>
                            <li class="@Html.IsActive("Schedule", "Offers")">
                                <a asp-controller="Schedule" asp-action="Offers" asp-route-branchId="@branch.Id">
                                    <i class="fa fa-calendar mr-3"></i>
                                    @Localizer["Offers"]
                                </a>
                            </li>
                            <li class="@Html.IsActive("Furlough", "Index")">
                                <a asp-controller="Furlough" asp-action="Index" asp-route-branchId="@branch.Id">
                                    <i class="fa fa-plane mr-3"></i>
                                    @Localizer["Furlough request"]
                                </a>
                            </li>
                            @if (User.HasClaim("Manager", branch.Id.ToString()))
                            {
                                <li class="@Html.IsActive("WorkedShift")">
                                    <a asp-controller="WorkedShift" asp-action="Week" asp-route-branchId="@branch.Id">
                                        <i class="fa fa-clock-o mr-3"></i>
                                        @Localizer["Worked hours"]
                                    </a>
                                </li>
                                <li class="@Html.IsActive("Schedule", "CrossBranchOffers")">
                                    <a asp-controller="Schedule" asp-action="CrossBranchOffers" asp-route-branchId="@branch.Id">
                                        <i class="fa fa-external-link mr-3"></i>
                                        @Localizer["Cross Branch Shifts"]
                                    </a>
                                </li>
                                <li class="@Html.IsActive("Forecast", "Index")">
                                    <a asp-controller="Forecast" asp-action="Index" asp-route-branchId="@branch.Id">
                                        <i class="fa fa-line-chart mr-3"></i>
                                        @Localizer["Forecast"]
                                    </a>
                                </li>
                                <li class="@Html.IsActive("Furlough", "Overview")">
                                    <a asp-controller="Furlough" asp-action="Overview">
                                        <i class="fa fa-plane mr-3"></i>
                                        @Localizer["Furlough approval"]
                                    </a>
                                </li>
                                <li class="@Html.IsActive("PayCheck", "Index")">
                                    <a asp-controller="PayCheck" asp-action="Index" asp-route-branchId="@branch.Id">
                                        <i class="fa fa-money mr-3"></i>
                                        @Localizer["Paycheck"]
                                    </a>
                                </li>
                            }
                        </ul>
                    </li>
                }

                <li class="@Html.IsActive("Branches", "Index")">
                    <a href="#branchesSubmenu" data-toggle="collapse" class="dropdown-toggle">
                        <i class="fa fa-building-o mr-3"></i>
                        @Localizer["Branches"]
                    </a>
                    <ul class="collapse list-unstyled @Html.IsActive("Branches", "Index", "show")" id="branchesSubmenu">
                        @if ((await AuthorizationService.AuthorizeAsync(User, "SuperUser")).Succeeded)
                        {
                            <li class="@Html.IsActive("Branches", "Index")">
                                <a asp-controller="Branches" asp-action="Index" asp-route-branchId="@null">@Localizer["All branches"]</a>
                            </li>
                        }

                        @foreach (var id in User.Claims.Where(claim => claim.Type == "Branch").Select(claim => int.Parse(claim.Value)))
                        {
                            var branch = await Wrapper.Branch.Get(branch1 => branch1.Id == id);

                            if (branch != null)
                            {
                                <li class="@(hasCurrentBranch && currentBranchId == branch.Id ? "active" : "")">
                                    <a asp-controller="Branches" asp-action="Details" asp-route-branchId="@branch.Id">@branch.Name</a>
                                </li>
                            }
                        }
                        </ul>
                </li>
                @if ((await AuthorizationService.AuthorizeAsync(User, "SuperUser")).Succeeded)
                {
                    <li class="@Html.IsActive("Users")">
                        <a asp-controller="Users" asp-action="Index">
                            <i class="fa fa-user mr-3"></i>
                            @Localizer["Employees"]
                        </a>
                    </li>
                    <li class="@Html.IsActive("ForecastStandard")">
                        <a asp-controller="ForecastStandard" asp-action="Index">
                            <i class="fa fa-line-chart mr-3"></i>
                            @Localizer["Forecast Norms"]
                        </a>
                    </li>
                }
                <li class="@Html.IsActiveArea("Identity")">
                    <a href="#accountSubmenu" data-toggle="collapse" class="dropdown-toggle text-truncate">
                        <i class="fa fa-user mr-3"></i>
                        @UserUtil.GetFullName(await UserManager.GetUserAsync(User))
                    </a>
                    <ul class="collapse list-unstyled @Html.IsActiveArea("Identity", null, "show")" id="accountSubmenu">
                        <li class="@Html.IsActiveArea("Identity", "/Account/Manage/Index")">
                            <a asp-area="Identity" asp-page="/Account/Manage/Index">
                                <i class="fa fa-user-circle-o mr-3"></i>
                                @Localizer["Profile"]
                            </a>
                        </li>
                        <li class="@Html.IsActiveArea("Identity", "/Account/Manage/Email")">
                            <a asp-area="Identity" asp-page="/Account/Manage/Email">
                                <i class="fa fa-envelope mr-3"></i>
                                @Localizer["Email"]
                            </a>
                        </li>
                        <li class="@Html.IsActiveArea("Identity", "/Account/Manage/ChangePassword")">
                            <a asp-area="Identity" asp-page="/Account/Manage/ChangePassword">
                                <i class="fa fa-key mr-3"></i>
                                @Localizer["Password"]
                            </a>
                        </li>
                        <li class="@Html.IsActiveArea("Identity", "/Account/Manage/TwoFactorAuthentication")">
                            <a asp-area="Identity" asp-page="/Account/Manage/TwoFactorAuthentication">
                                <i class="fa fa-qrcode mr-3"></i>
                                @Localizer["Two-factor authentication"]
                            </a>
                        </li>
                        <li class="@Html.IsActiveArea("Identity", "/Account/Manage/PersonalData")">
                            <a asp-area="Identity" asp-page="/Account/Manage/PersonalData">
                                <i class="fa fa-briefcase mr-3"></i>
                                @Localizer["Personal Data"]
                            </a>
                        </li>
                        <li class="@Html.IsActiveArea("Identity", "/Account/Logout")">
                            <a asp-area="Identity" asp-page="/Account/Logout" onclick="event.preventDefault();document.getElementById('logoutForm').submit();">
                                <i class="fa fa-sign-out mr-3"></i>
                                @Localizer["Logout"]
                            </a>

                            <form id="logoutForm" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new {area = ""})"></form>
                        </li>
                    </ul>
                </li>
            }
            else
            {
                <li class="@Html.IsActiveArea("Account", "/Account/Login")">
                    <a asp-area="Identity" asp-page="/Account/Login">
                        <i class="fa fa-sign-in mr-3"></i>
                        @Localizer["Login"]
                    </a>
                </li>
                @if (BumboOptions.Value.RegistrationEnabled)
                {
                    <li class="@Html.IsActiveArea("Schedule", "/Account/Register")">
                        <a asp-area="Identity" asp-page="/Account/Register">
                            <i class="fa fa-user-plus mr-3"></i>
                            @Localizer["Register"]
                        </a>
                    </li>
                }
            }
        </ul>
        <div class="nav-sticky-footer-box"></div>
        <div class="sidebar-footer text-center">
            <button type="button" class="btn btn-secondary btn-sm m-2" data-toggle="modal" data-target="#cultureModal">
                <i class="fa fa-language" aria-hidden="true"></i>
                @Localizer["Change Language"]
            </button>
            @if ((await AuthorizationService.AuthorizeAsync(User, "SuperUser")).Succeeded)
            {
                <br/>
                <strong>SUPER USER</strong>
            }
            <p>&copy; @DateTime.Today.Year - Bumbo</p>
        </div>
    </div>
</nav>
