@using System.Globalization
@model Bumbo.Web.Models.Paycheck.DetailsViewModel

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                Week number
            </th>
            <th>
                Difference in hours
            </th>
            @foreach (var day in Model.DaysOfWeek)
            {
                <th>@ISOWeek.ToDateTime(1, 1, day).ToString("ddd")</th>
            }
            <th>
                Total worked hours
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var pair in Model.WeekShifts)
        {
            var weekDifference = new TimeSpan(pair.Value.Sum(ws => ws.Difference.Ticks));
            <tr>

                <td>
                    @pair.Key
                </td>
                <td>
                    @((weekDifference.Ticks < 0 ? "-" : "") + weekDifference.ToString(@"hh\:mm"))
                </td>
                @foreach (var day in Model.DaysOfWeek)
                {
                    var workedShift = pair.Value.FirstOrDefault(ws => ws.Day == day);
                    <td>
                        @if (workedShift != null)
                        {
                            <div>
                                <span class="fa-stack fa-sm">
                                    <i class="fa fa-stack-2x fa-square"></i>
                                    <i class="fa fa-stack-1x fa-briefcase text-white"></i>
                                </span>
                                @Html.DisplayFor(model => workedShift.StartTime)-@Html.DisplayFor(model => workedShift.EndTime)
                            </div>
                            @if (workedShift.BreakTime.Ticks > 0)
                            {
                                <div>
                                    <span class="fa-stack fa-sm">
                                        <i class="fa fa-stack-2x fa-square"></i>
                                        <i class="fa fa-stack-1x fa-coffee text-white"></i>
                                    </span>
                                    @Html.DisplayFor(model => workedShift.BreakTime)
                                </div>
                            }
                        }
                    </td>
                }
                @{
                    var workedTime = new TimeSpan(pair.Value.Sum(ws => ws.WorkTime.Ticks));
                } 
                <td>
                    @($"{workedTime.TotalHours:00}:{workedTime.Minutes:00}")
                </td>
            </tr>
        }
    </tbody>
</table>
<!--<div>-->
@*TODO: add real values*@
<!--<a asp-action="Details" asp-route-id="">Save changes</a>
    <a asp-action="Index">Back to List</a>
</div>-->
