@model IEnumerable<Bumbo.Web.Models.Paycheck.PaycheckViewModel>

@{
    ViewData["Title"] = "Index";
    ViewData["Weeknumbers"] = "";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<table class="table">
    <thead>
        <tr>
            <th>
               Name
            </th> 
            <th>
                @Html.DisplayNameFor(model => model.Contracts.First().Scale)
            </th>
            @foreach (var weeknr in ViewData["Weeknumbers"])
            {
                <th>
                    @Html.DisplayFor(modelItem => weeknr)
                </th>
            }
            <th>
                Total workhours
            </th> 
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                Name
            </td> 
            <td>
                @Html.DisplayFor(modelItem => item.FirstName + item.MiddleName + item.LastName)
            </td>
            @foreach (var weeknr in ViewData["Weeknumbers"])
            {
                <td>
                    @Html.DisplayFor(modelItem => item.weeklyWorkhours)
                </td>
            }
            <td>
                Total workhours
            </td> 
            <td>
                @Html.DisplayFor(modelItem => item.totalWorkHours)
            </td>
        </tr>
}
    </tbody>
</table>
