@using Microsoft.CodeAnalysis.CSharp.Syntax
@model Bumbo.Web.Models.Paycheck.PaycheckViewModel

@{
    ViewData["Title"] = "Index";
    ViewData["Weeknumbers"] = "";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                Name
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Contracts.First().Scale)
            </th>
            @foreach (var weeknr in ViewData["Weeknumbers"])
            {
                <th>
                    @Html.DisplayFor(modelItem => weeknr)
                </th>
            }
            <th>
                Total workhours
            </th>
        </tr>
    </thead>
    <tbody>

        @foreach (var kvp in Model.WeeklyWorkedHoursPerUser)
        {
        <tr onclick="location.href = '@Html.ActionLink("Details", "Details", new { id = kvp.Key.Id }))'">
            <td>
                @kvp.Key.FirstName + kvp.Key.MiddleName + kvp.Key.LastName
            </td>
            @for (int i = 0; i < kvp.Value.Count; i++)
            {
                <td>
                    @kvp.Value[i]
                </td>
            }
            <td>
                @Model.CalculateTotalWorkHours(kvp.Key)
            </td>
        </tr>
        }

    </tbody>
</table>
