@model Bumbo.Web.Models.Paycheck.PaycheckViewModel

<h1>PayCheck</h1>
<h2>@(new DateTime(Model.Year, Model.Month, 1).ToString("MMMMM"))</h2>

<table class="table">
    <thead>
        <tr>
            <th class="text-left">@Html.DisplayNameFor(model => model.MonthShifts.FirstOrDefault().Key.Name)</th>
            <th class="text-left">@Html.DisplayNameFor(model => model.MonthShifts.FirstOrDefault().Key.Scale)</th>

            @foreach (var week in Model.WeekNumbers)
            {
                <th>
                    Week @week
                </th>
            }
            <th>
                Total workhours
            </th>
        </tr>
    </thead>
</table>

@if (!Model.OverviewApproved && Model != null)
{
    <form asp-action="Approve" method="post">
        <input type="hidden" asp-for="@Model.Month">
        <input type="hidden" asp-for="@Model.Year">
        <button type="submit" class="btn btn-primary">Approve workhours</button>
    </form>
}