@using System.Globalization
@model Bumbo.Web.Models.Paycheck.PaycheckViewModel
@{
    DateTimeFormatInfo mfi = new DateTimeFormatInfo();
    string strMonthName = "";

    strMonthName = Model.MonthNr == 1 ? mfi.GetMonthName(12) : mfi.GetMonthName(Model.MonthNr - 1);
}
<h1>PayCheck</h1>
<h2> @strMonthName</h2>

<table class="table">
    <thead>
    <tr>
        <th>
            Name
        </th>
        <th>
            Kpu
        </th>
        @for (int i = 0; i < Model.WeekNumbers.Count; i++)
        {
            <th>
                Week @Model.WeekNumbers[i]
            </th>
        }
        <th>
            Total workhours
        </th>
    </tr>
    </thead>
    <tbody>

    @foreach (var kvp in Model.WeeklyWorkedHoursPerUser)
    {
        <tr onclick="location.href = '@Url.Action("Details", "PayCheck", new { branchId = kvp.Key.Shifts.First().BranchId, id=kvp.Key.Id})'" style="cursor: pointer;">
            <td>
                @kvp.Key.FirstName @kvp.Key.MiddleName @kvp.Key.LastName
            </td>
            <td>
                @*@kvp.Key.Contracts.First().Scale*@
            </td>
            @for (int i = 0; i < kvp.Value.Count; i++)
            {
                <td>
                    @kvp.Value[i]
                </td>
            }
            <td>
                @Model.CalculateTotalWorkHours(kvp.Key)
            </td>
        </tr>
    }
    </tbody>
</table>

@if (!Model.OverviewApproved && Model != null)
{
    <form asp-action="ApproveWorkhoursOverview">
        @* hidden model *@
        <button type="submit" class="btn btn-primary">Approve workhours</button>
    </form>
}

