@using System.Globalization
@inject IViewLocalizer Localizer
@model Bumbo.Web.Models.Paycheck.SalaryBenefitViewModel

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Localizer["Employee Name"]
            </th>
            <th>
                @Localizer["Hours"]
            </th>
            <th>
                @Localizer["Benefit"]
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var kvp in Model.PayChecks)
        {
            foreach (var key in kvp.Value.GetKeys())
            {
                <tr>
                    <td>
                        @kvp.Key.FirstName @kvp.Key.MiddleName @kvp.Key.LastName
                    </td>
                    <td>
                        @kvp.Value.GetTime(key)
                    </td>
                    <td>
                        @key
                    </td>
                </tr>
            }
        }
    </tbody>
</table>
