@using Bumbo.Data.Models.Enums
@model IEnumerable<Bumbo.Data.Models.ForecastStandard>

@{
    ViewData["Title"] = "Index";
}

<h1>Manage Global Forecast Norms</h1>
<p>Here you can manage the forecast norms for <strong>all branches</strong>.</p>

@if (Model.Count() != Enum.GetValues<ForecastActivity>().Length)
{
    <p>
        <a asp-action="Create">Create New</a>
    </p>
}
<table class="table">
    <thead>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Activity)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Value)
        </th>
        <th></th>
    </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Activity)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Value)
        </td>
        <td>
            <a asp-action="Edit" asp-route-id="@item.Activity">Edit</a>
        </td>
    </tr>
}
    </tbody>
</table>
