@using System.Globalization
@using Bumbo.Data.Models.Enums
@model Bumbo.Web.Models.Forecast.ForecastViewModel
@inject IViewLocalizer Localizer

@{
    ViewBag.Title = Localizer["DepartmentSchedule"];
    ViewBag.ContainerType = "container-fluid";
}

<div class="row">
    <div class="col-2">
        <h4>
            @Localizer["Week"] @Html.DisplayFor(model => model.Week)
            <span class="font-weight-normal">
                @Html.DisplayFor(model => model.Year)
            </span>
        </h4>
    </div>
    <div class="col">
        <div class="d-print-none">
            <div class="btn-group text-white" role="group" aria-label="Week Navigation">
                <a asp-action="Index" asp-route-branchId="@Model.Branch.Id" asp-route-department="@Model.Department" asp-route-year="@Model.PreviousYear" asp-route-week="@Model.PreviousWeek" class="btn btn-secondary">
                    <i class="fa fa-angle-left" aria-hidden="true"></i>
                </a>
                <a asp-action="Index" asp-route-branchId="@Model.Branch.Id" asp-route-department="@Model.Department" asp-route-year="@DateTime.Today.Year" asp-route-week="@ISOWeek.GetWeekOfYear(DateTime.Today)" class="btn btn-secondary">
                    @Localizer["Today"]
                </a>
                <a asp-action="Index" asp-route-branchId="@Model.Branch.Id" asp-route-department="@Model.Department" asp-route-year="@Model.NextYear" asp-route-week="@Model.NextWeek" class="btn btn-secondary">
                    <i class="fa fa-angle-right" aria-hidden="true"></i>
                </a>
            </div>
            
            <div class="btn-group text-white" role="group" aria-label="Select Department">
                <a class="btn btn-secondary">@Localizer["Department"]</a>

                <div class="btn-group" role="group">
                    <button id="departmentGroup" type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        @(Model.Department.HasValue ? Html.DisplayFor(model => model.Department.Value) : Localizer["All"])
                    </button>
                    <div class="dropdown-menu" aria-labelledby="departmentGroup">
                        <a asp-action="Index" asp-route-branchId="@Model.Branch.Id" asp-route-department="" asp-route-year="@Model.Year" asp-route-week="@Model.Week" class="dropdown-item">@Localizer["All"]</a>
                        @foreach (var department in Enum.GetValues<Department>())
                        {
                            <a asp-action="Index" asp-route-department="@department" asp-route-branchId="@Model.Branch.Id" asp-route-year="@Model.Year" asp-route-week="@Model.Week" class="dropdown-item">@Html.DisplayFor(model => department)</a>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<br />

<table class="table table-bordered table-striped table-sm">
    <thead class="text-center">
        <tr>
            <th class="text-left">@Html.DisplayNameFor(model => model.Department)</th>

            @foreach (var day in Model.DaysOfWeek)
            {
                <th>@ISOWeek.ToDateTime(Model.Year, Model.Week, day).ToString("ddd dd-MM")</th>
            }

        </tr>
    </thead>
    <tbody>
        @foreach (Department department in Enum.GetValues<Department>())
        {
            if(Model.Department != null && department != Model.Department)
            {
                continue;
            }
            <tr>
                <td>
                    @department.ToString()
                </td>

                @foreach (var day in Model.DaysOfWeek)
                {
                    var forecast = Model.Forecasts.FirstOrDefault(f => f.Department == department && f.Date.DayOfWeek == day);
                    if (forecast != null)
                    {
                        <td>@TimeSpan.FromHours((double)forecast.WorkingHours).ToString(@"hh\:mm")</td>
                    }
                    else
                    {
                        <td/>
                    }
                }
            </tr>
        }
    </tbody>
</table>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}