@model Bumbo.Web.Models.Forecast.ForecastViewModel

@{
    ViewData["Title"] = "Index";

    var partialRouteData = new Dictionary<string, string>()
    {
        {
            "branchId",
            Model.Branch.Id.ToString()
        },
        {
            "year",
            Model.Year.ToString()
        },
        {
            "department",
            Model.Department.ToString()
        }
    };

    Model.resetRouteValues.Add("branchId", Model.Branch.Id.ToString());
}

@section Styles {
    <style type="text/css">
        .forecast-week-navigation {
            display: flex;
            align-items: center;
        }
        .forecast-week-navigation > * {
            margin-right: 1em;
        }
    </style>
}

<h1>Prognose voor: @Model.Branch.Name</h1>
@if (@Model.Department != null)
{
    <h5>Afdeling: @Model.Department</h5>
}

<div class="forecast-week-navigation">
    <strong>Jaar: @Model.Year Week: @Model.WeekNr</strong>

    <a asp-action="Index" asp-all-route-data="partialRouteData" asp-route-weekNr="@(Model.WeekNr - 1)"><i class="fa fas fa-arrow-left"></i></a>

    <a asp-action="Index" asp-all-route-data="@Model.resetRouteValues">Huidige week</a>

    <a asp-action="Index" asp-all-route-data="partialRouteData" asp-route-weekNr="@(Model.WeekNr + 1)"><i class="fa fas fa-arrow-right"></i></a>
</div>

<p>
    <a asp-action="Create" asp-all-route-data="partialRouteData" asp-route-weekNr="@Model.WeekNr">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Forecasts.First().Department)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Forecasts.First().Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Forecasts.First().WorkingHours)
            </th>


            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Forecasts)
        {
            <tr>
                <td>
                    <a asp-action="Index" asp-route-department="@item.Department">
                        @Html.DisplayFor(modelItem => item.Department)

                    </a>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Date)
                </td>
                <td>
                    @* @Html.DisplayFor(modelItem => item.WorkingHours) *@
                    @($"{TimeSpan.FromHours((double) item.WorkingHours).TotalHours:00}:{TimeSpan.FromHours((double) item.WorkingHours).Minutes:00}")
                </td>
                
                @{
                    var itemRouteData = new Dictionary<string, string>()
                    {
                        {
                            "branchId",
                            @Model.Branch.Id.ToString()
                        },
                        {
                            "department",
                            @item.Department.ToString()
                        },
                        {
                            "year",
                            @Model.Year.ToString()
                        },
                        {
                            "weekNr",
                            @Model.WeekNr.ToString()
                        },
                        {
                            "dayOfWeek",
                            @item.Date.DayOfWeek.ToString()
                        }
                    };
                }

                <td>
                    <a asp-action="Edit" asp-all-route-data="itemRouteData">Edit</a>
                </td>
            </tr>
        }
    </tbody>
</table>
