@model Bumbo.Web.Models.Forecast.ForecastViewModel

@{
    ViewData["Title"] = "Index";
}

<h1>Prognose voor: @Model.Branch.Name</h1>
<h4>Jaar: @Model.Year Week: @Model.WeekNr</h4>

<p>
    <a asp-action="Create" asp-route-branchId="@Model.Branch.Id">Create New</a>
</p>
<table class="table">
    <thead>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Forecasts.First().Department)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Forecasts.First().Date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Forecasts.First().WorkingHours)
        </th>


        <th></th>
    </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Forecasts) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Department)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Date)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.WorkingHours)
        </td>

        <td>
            @Html.ActionLink("Edit", "Edit", new {/* id=item.PrimaryKey */}) |
            @Html.ActionLink("Details", "Details", new {/* id=item.PrimaryKey */}) |
            @Html.ActionLink("Delete", "Delete", new {/* id=item.PrimaryKey */})
        </td>
    </tr>
}
    </tbody>
</table>
