@model CrossBranchViewModel.AdoptShift

@{
    ViewData["Title"] = "Details";
}

<h1>Assign employee to shift</h1>

<form asp-action="ConfirmAdoptCrossBranchOffer">
    <h4>Shift</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Shift.Date)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Shift.Date)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Shift.StartTime)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Shift.StartTime)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Shift.EndTime)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Shift.EndTime)
        </dd>
        <dt class="col-sm-2">
            Select employee
        </dt>
        <dd class="col-sm-10">
            <select asp-for="SelectedUserId">
                @foreach (var u in Model.AvailableEmployees)
                {
                    <option value="@u.Id">@u.FirstName @u.MiddleName @u.LastName</option>
                }
            </select>
        </dd>
    </dl>
    <input type="hidden" asp-for="ShiftId" value="@Model.Shift.Id" />

    <input type="submit" value="Adopt shift" class="btn btn-primary" />
</form>