@using System.Globalization
@model DepartmentViewModel

@{
    ViewBag.Title = "Afdelingsrooster";
}

<div class="row">
    <div class="col-2">
        <h4>
            @Html.DisplayFor(model => model.Week)
            <span class="font-weight-normal">
                @Html.DisplayFor(model => model.Year)
            </span>
        </h4>
    </div>
    <div class="col">
        <h5>@ViewBag.Title</h5>
    </div>

</div>

<table class="table table-bordered table-striped">
    <thead class="text-center">
    <tr>
        <th class="text-left">@Html.DisplayNameFor(model => model.EmployeeShifts.FirstOrDefault().Name)</th>
        <th class="text-left">@Html.DisplayNameFor(model => model.EmployeeShifts.FirstOrDefault().Scale)</th>

        @foreach (var day in Model.DaysOfWeek)
        {
            <th>@ISOWeek.ToDateTime(Model.Year, Model.Week, day).ToString("ddd dd-MM")</th>
        }

        <th>Totaal</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var employeeShift in Model.EmployeeShifts)
    {
        <tr>
            <td>
                <span class="fa-stack fa-sm align-super">
                    @if (employeeShift.Shifts.Any(shift => shift.Notifications.Any()))
                    {
                        <i class="fa fa-stack-2x fa-square text-warning"></i>
                        <i class="fa fa-stack-1x fa-exclamation text-white"></i>
                    }
                </span>
                <span class="d-inline-block">
                    @Html.DisplayFor(model => employeeShift.Name)
                    <br/>
                    <span class="text-secondary">
                        @Html.DisplayFor(model => employeeShift.Contract)
                    </span>
                </span>
                <span class="align-super float-right">
                    <i class="fa fa-angle-down"></i>
                </span>
            </td>
            <td class="align-middle">@Html.DisplayFor(model => employeeShift.Scale)</td>

            @foreach (var day in Model.DaysOfWeek)
            {
                <td class="align-middle">
                    @foreach (var shift in employeeShift.Shifts.Where(shift => shift.StartTime.DayOfWeek == day))
                    {
                        <span>
                            @if (shift.Notifications.Any())
                            {
                                <span class="fa-stack fa-sm"
                                      data-toggle="tooltip"
                                      data-placement="bottom"
                                      data-html="true"
                                      title="<ul class='list-unstyled'>@foreach (var notification in shift.Notifications) {<li>@notification</li>}</ul>">

                                    <i class="fa fa-stack-2x fa-square text-warning"></i>
                                    <i class="fa fa-stack-1x fa-briefcase text-white"></i>
                                </span>
                            }
                            else
                            {
                                <span class="fa-stack fa-sm">
                                    <i class="fa fa-stack-2x fa-square"></i>
                                    <i class="fa fa-stack-1x fa-briefcase text-white"></i>
                                </span>
                            }
                            @Html.DisplayFor(model => shift.StartTime)-@Html.DisplayFor(model => shift.EndTime)
                        </span>
                        @if (shift.BreakTime.Ticks > 0)
                        {
                            <br/>
                            <span>
                                <span class="fa-stack fa-sm">
                                    <i class="fa fa-stack-2x fa-square"></i>
                                    <i class="fa fa-stack-1x fa-coffee text-white"></i>
                                </span>
                                @Html.DisplayFor(model => shift.BreakTime)
                            </span>
                        }
                    }
                </td>
            }

            <td class="align-middle">
                <span class="@(employeeShift.PlannedTime > employeeShift.MaxHours ? "text-danger" : "")">
                    @($"{employeeShift.PlannedTime.TotalHours:00}:{employeeShift.PlannedTime.Minutes:00}")
                </span>
                <span> / </span>
                <span>
                    @($"{employeeShift.MaxHours.TotalHours:00}:{employeeShift.MaxHours.Minutes:00}")
                </span>
            </td>
        </tr>
    }
    </tbody>
</table>