@model IEnumerable<Bumbo.Data.Models.User>
@inject IViewLocalizer Localizer

@{
    ViewData["Title"] = @Localizer["Employees"];
}

<h1>@Localizer["Employees"]</h1>

<p>
    <a asp-action="Create">@Localizer["Create new"]</a>
</p>
<table class="table">
    <thead>
    <tr>
        <th>
            @Localizer["FirstName"]
        </th>
        <th>
            @Localizer["MiddleName"]
        </th>
        <th>
            @Localizer["LastName"]
        </th>
        <th>
            @Localizer["Birthday"]
        </th>

        <th>
            @Localizer["Email"]
        </th>


        <th></th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MiddleName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
            <td>
                @item.Birthday.ToString("d")
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">@Localizer["Edit"]</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">@Localizer["Delete"]</a>
            </td>
        </tr>
    }
    </tbody>
</table>